In [1]:
#Задание 1
#Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
#- оценка 2 и меньше - низкий рейтинг
#- оценка 4 и меньше - средний рейтинг
#- оценка 4.5 и 5 - высокий рейтинг
#Результат классификации запишите в столбец class

import pandas as pd

#чтение файлов
data_ratings = pd.read_csv(r'C:\Users\mazar\Documents\Python\Нетология - курс\ml-latest-small\ratings.csv')
data_movies = pd.read_csv(r'C:\Users\mazar\Documents\Python\Нетология - курс\ml-latest-small\movies.csv')

In [3]:
def rating_gr (rating):
    if rating<=2: rating_group = 'низкий рейтинг'
    if rating>2 and rating<=4: rating_group = 'средний рейтинг'
    if rating>4: rating_group = 'высокий рейтинг'
    return rating_group

data_ratings['class'] = data_ratings['rating'].apply(rating_gr) #применение функции к столбцу и запись в новый столбец class

In [4]:
data_ratings.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  средний рейтинг
1       1        3     4.0  964981247  средний рейтинг
2       1        6     4.0  964982224  средний рейтинг
3       1       47     5.0  964983815  высокий рейтинг
4       1       50     5.0  964982931  высокий рейтинг

In [5]:
#проверка присвоения групп
data_ratings.groupby('class').agg({'rating': ['min', 'max']})

                rating
                   min  max
class
высокий рейтинг    4.5  5.0
низкий рейтинг     0.5  2.0
средний рейтинг    2.5  4.0

In [9]:
#Задание2
#Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность 
#определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ 
#пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

#чтение файлов
df_keywords = pd.read_csv(r'C:\Users\mazar\Documents\Python\Нетология - курс\Ноутбуки с лекций\11_Pandas_функции_groupby_data\keywords.csv')

In [11]:
df_keywords.head(10)

                      keyword     shows
0                          вк  64292779
1               одноклассники  63810309
2                       порно  41747114
3                        ютуб  39995567
4                   вконтакте  21014195
5  одноклассники моя страница  19976138
6                        майл  15144673
7                       авито  14786593
8                  переводчик  14453469
9                      яндекс  13344734

In [45]:
#функция простановки региона по строке запроса
def region_find(string_):
    string_list = string_.split(' ')
    for word in string_list:
        if word.lower() in ['москва', 'тула', 'ярославль']: return 'Центр'
        if word.lower() in ['петербург', 'псков', 'мурманск']: return 'Северо-Запад'
        if word.lower() in ['владивосток', 'сахалин', 'хабаровск']: return 'Дальний Восток'
    return 'undefined'

In [52]:
#TEST1
test_string = 'ищу кафе ВорОНеж 24 часа'
region_find(test_string)

'undefined'

In [50]:
#TEST2
test_string = 'ищу кафе ТуЛа 24 часа'
region_find(test_string)

'Центр'

In [49]:
#TEST3
test_string = 'ищу кафе МурМАнск 24 часа'
region_find(test_string)

'Северо-Запад'

In [53]:
#применяем функцию к датафрейму
df_keywords['region'] = df_keywords['keyword'].apply(region_find) #применение функции к столбцу и запись в новый столбец class

In [54]:
df_keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [56]:
#проверка разбивки по регионам
df_keywords.groupby('region').count()

                keyword  shows
region
undefined         99406  99406
Дальний Восток       64     64
Северо-Запад        146    146
Центр               384    384

In [57]:
#смотрим примеры отнесения в региону 'Дальний Восток'
df_keywords[df_keywords.region == 'Дальний Восток'].head()

                  keyword   shows          region
1063  фарпост владивосток  176951  Дальний Восток
2175       дром хабаровск   98361  Дальний Восток
3206     дром владивосток   73084  Дальний Восток
3275   100 сп владивосток   76418  Дальний Восток
3687      авито хабаровск   63736  Дальний Восток

In [58]:
#смотрим примеры отнесения в региону 'Северо-Запад'
df_keywords[df_keywords.region == 'Северо-Запад'].head()

                       keyword   shows        region
370   авито ру санкт петербург  425134  Северо-Запад
1236      банк санкт петербург  174375  Северо-Запад
1346           санкт петербург  144232  Северо-Запад
2153               авито псков   98931  Северо-Запад
2398            авито мурманск   89787  Северо-Запад

In [59]:
#Задание 3 (бонусное)
#Проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

#чтение файлов
data_ratings = pd.read_csv(r'C:\Users\mazar\Documents\Python\Нетология - курс\ml-latest-small\ratings.csv')
data_movies = pd.read_csv(r'C:\Users\mazar\Documents\Python\Нетология - курс\ml-latest-small\movies.csv')

In [60]:
data_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [80]:
data_movies.tail(10)

,movieId,title,genres
9732,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi
9733,193567,anohana: The Flower We Saw That Day - The Movi...,Animation|Drama
9734,193571,Silver Spoon (2014),Comedy|Drama
9735,193573,Love Live! The School Idol Movie (2015),Animation
9736,193579,Jon Stewart Has Left the Building (2015),Documentary
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [76]:
years = list(range(1950, 2011))

#функция определяет год создания фильма
def production_year (title):
    for y in years:
        if str(y) in title: return y
    return 1900

In [77]:
test = 'Gintama: The Movie (2010)'
production_year(test)

2010

In [78]:
test = 'No Game No Life: Zero (2017)'
production_year(test)

1900

In [79]:
test = 'Andrew Dice Clay: Dice Rules (1991)'
production_year(test)

1991

In [81]:
#применяем функцию к датафрейму
data_movies['year'] = data_movies['title'].apply(production_year) #применение функции к столбцу и запись в новый столбец year

In [82]:
#проверяем как отработала функция
data_movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [83]:
#присоединяем к таблице с рейтингами -- год фильма по полю movieId
data_ratings_year = pd.merge(data_ratings, data_movies, how='left', on='movieId')

#не знаю как оставлять только нужные столбцы после соединения таблиц

In [84]:
data_ratings_year.head()

,userId,movieId,rating,timestamp,title,genres,year
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,1995
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,1995
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995

In [97]:
#Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга
data_ratings_year.groupby('year').mean()['rating'].sort_values(ascending=False)

#не знаю как посчитать среднее только по одному столбцу проще всего?
#еще непонятно как задать название новому столбцу со средним рейтингом

year
1957    4.039535
1954    4.009191
1962    3.969466
1952    3.953125
1972    3.944293
          ...
2000    3.398922
2005    3.359976
1992    3.353555
1997    3.347241
1996    3.335329
Name: rating, Length: 62, dtype: float64